<!-- ----------------------------------------------footer---------------------------------------------------->

<footer class="text-center text-lg-start pt-1 bg-light">

  <section class="mb-0">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Services Request</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-secondary fw-semibold text-decoration-none">Auto Service is a new age multi-brand vehicle service center established in the year
              of 2023. we have pride ourselves in offering our customers with standarized services at a competitive
              price.our young energetic and genius team's sole purpose is to achieve the highest level of customer
              satification by making an easy and quality experience.</a>
          </p>

        </div>

        <div class="col-md-3 mx-auto mb-4  fw-semibold">
          <h6 class="text-uppercase fw-bold">Top Services</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-secondary fw-semibold text-decoration-none">Engine Repair</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Vehicle Wash</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Brake Repair</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Tyres and Wheels</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Accident Repair</a>
          </p>


        </div>
        <div class="col-md-3 mx-auto mb-4 fw-semibold">
          <h6 class="text-uppercase fw-bold ">Useful Links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Home</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">About</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Sales</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Service</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Contact Us</a>
          </p>

        </div>


        <div class="col-md-3 mx-auto mb-4 text-dark fw-semibold">
          <h6 class="text-uppercase fw-bold">Contact Us</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-secondary text-decoration-none"> +91 893 979 9975</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none"> infoonclick22@gmail.com</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Chennai, Tamilnadu
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <div class="text-center fw-bold pb-3">
    © 2023 Copyright:
    <a class="text-dark text-decoration-none" href="https://infoonclick.com/">Services Request.com</a> All Rights Reserved.
    Developed By: <a class="text-dark text-decoration-none" href="https://infoonclick.com/">Info Onclick</a>
  </div>
</footer>

