
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/banner/banner-3.jpg" class="d-block w-100" alt="..." height="650">
    </div>

</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ps-5 py-3 bg-light">
    <li class="breadcrumb-item"><a class="text-decoration-none fw-semibold" routerLink="/home">Home</a></li>
    <li class="breadcrumb-item active fw-semibold" aria-current="page">Commercial Service</li>
  </ol>
</nav>

<div class="container py-5">
  <div class="row g-3">
    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/training.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">training Service</button>
        </div>

      </div>
    </div>


    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/Software Service.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">Software Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/security.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">Security Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/printing.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">printing Service</button>
        </div>

      </div>
    </div>


    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/Marketting.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">marketting Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/Maintenance.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">maintainence Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/event planing.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">Event Planing</button>
        </div>

      </div>
    </div>


    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/designer.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">designer Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Commercial/consulting.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">consulting Service</button>
        </div>

      </div>
    </div>
  </div>
</div>
