<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/banner/banner-1.jpg" class="d-block w-100" alt="..." height="650">
    </div>

  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/banner/banner-2.jpg" class="d-block w-100" alt="...">
      </div>

    </div>



    <div class="container-fluid mt-5">
      <div class="row g-3">
        <div class="col-md-4">
          <div class="service-area" role="Residential">
            <div class="card border border-0 rounded-0 mb-4" routerLink="/pages/residential">
              <img src="./assets/banner/residential.png" class="card-img border border-5" alt="..." height="300">
              <div class="card-img-overlay text-center flex-column justify-content-center">
                <button
                  class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">Residential
                  Service</button>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-area" role="commercial">
            <div class="card border border-0 rounded-0 mb-4"  routerLink="/pages/commercial">
              <img src="./assets/banner/commercial.png" class="card-img border border-5" alt="..." height="300">
              <div class="card-img-overlay text-center flex-column justify-content-center">
                <button
                  class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">commercial Service</button>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-area" role="commercial">
            <div class="card border border-0 rounded-0 mb-4"  routerLink="/pages/automotive">
              <img src="./assets/banner/automative.png" class="card-img border border-5" alt="..." height="300">
              <div class="card-img-overlay text-center flex-column justify-content-center">
                <button
                  class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">automotive Service</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
