<nav aria-label="breadcrumb">
  <ol class="breadcrumb ps-5 py-3 bg-light">
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark fw-semibold" routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark  fw-semibold"
        routerLink="/pages/automotive">Automotive Service</a></li>
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark  fw-semibold" routerLink="/pages/store-list">Store List</a>
    </li>
    <li class="breadcrumb-item active fw-semibold text-primary" aria-current="page">Store Details</li>
  </ol>
</nav>
<div class="bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="store-banner ">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="./assets/store-details/store-banner.png" class="d-block w-100 store-image border border-4"
                  alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="./assets/store-details/banner-2.png" class="d-block w-100 store-image border border-4"
                  alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="./assets/store-details/banner-3.png" class="d-block w-100 store-image border border-4"
                  alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row m-4">
          <div class="col-md-8">

            <!------------store name------>
            <div class="bg-white rounded-3">
              <div class="store-name py-3 px-3">
                <h3 class="fw-bold">SKY Automobiles Service Center</h3>
                <p class="text-secondary fw-semibold">Powerfull Equipments</p>
                <p class="text-secondary fs-6 text-uppercase">car &#10072; bike &#10072; van &#10072; truck &#10072; bus
                </p>
              </div>
            </div>
            <!---------------------------->

            <!----store location and oawner details-->
            <div class="bg-white rounded-3 mt-3 py-3 ">
              <h4 class="fw-semibold pt-2 ps-4 text-secondary"><i class="fa fa-file-text" aria-hidden="true"></i>
                &nbsp;Overview</h4>
              <hr>
              <div class="row mt-4 store-details">
                <div class="col-md-4 text-center">
                  <i class="fa fa-2x fa-user-o" aria-hidden="true"></i>
                  <p class="text-secondary fw-semibold mb-0">Owner</p>
                  <p class="fw-semibold text-dark">Mohammed Ubaidullah</p>
                </div>
                <div class="col-md-4 text-center">
                  <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                  <p class="text-secondary fw-semibold mb-0">Location</p>
                  <p class="fw-semibold text-dark">Aavadi, Chennai</p>
                </div>
                <div class="col-md-4 text-center">
                  <i class="fa fa-2x fa-address-book-o" aria-hidden="true"></i>
                  <p class="text-secondary fw-semibold mb-0">Contact</p>
                  <p class="fw-semibold text-dark">+91 893 979 9975</p>
                </div>
              </div>
            </div>
            <!----------------------------------------------->


            <!----------------------------Description---------------------->
            <div class="bg-white rounded-3 mt-3 py-3 ">
              <h4 class="fw-semibold pt-2 ps-4"><i class="fa fa-list" aria-hidden="true"></i> &nbsp;Description</h4>
              <hr>
              <div class="row mt-4 px-4 store-Description">
                <div class="col-md-12">
                  <p class="store-desc-name fst-italic fw-bold text-secondary">Sky Automobiles Service Center</p>
                  <p class="text-secondary fw-semibold store-desc-details">
                    We offer full range of garage services to vehicle owners in Chennai. Our professionals know how to
                    handle a wide range of Vehicle services. Whether you drive a passenger car or medium sized truck or
                    SUV,
                    our mechanics strive to ensure that your vehicle will be performing at its best before leaving our
                    Vehicle shop. Whether you drive a medium sized truck or passenger car or SUV, our mechanics strive
                    to
                    ensure. We are one of the leading auto repair shops serving customers in Chennai.
                    All mechanic services are performed by highly qualified mechanics.
                  </p>

                  <p class="store-desc-hours fst-italic text-decoration-underline fw-bold text-secondary">Store Opening
                    and Closing hours</p>
                  <div class="g-3">
                    <p class="fw-semibold text-secondary">Monday &nbsp; &nbsp; &nbsp; : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Tuesday &nbsp; &nbsp; &nbsp; &nbsp;: 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Wednesday &nbsp;: 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Thursday &nbsp; &nbsp; &nbsp;: 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Friday &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Saturday &nbsp; &nbsp; &nbsp; : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Sunday &nbsp; &nbsp; &nbsp; &nbsp; : closed </p>
                  </div>
                </div>
              </div>
            </div>
            <!------------------------------------------->
          </div>

          <div class="col-md-4 position-sticky">
            <!-----------details----->
            <div class="bg-white rounded-3 py-3 ">
              <h4 class="fw-semibold pt-2 text-secondary ps-4"><i class="fa fa-info-circle" aria-hidden="true"></i>
                &nbsp;Details</h4>
              <hr>
              <div class="row store-Details">
                <div class="col-md-3 text-center">
                  <img src="./assets/store-details/store-banner.png" alt="store-image"
                    class="rounded-pill sub-img border border-4" width="60" height="60">
                </div>
                <div class="col-md-9">
                  <!--  -->
                  <h5 class="fw-semibold pt-3">SKY Automobiles Service <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></h5>

                </div>
                <div class="col-md-12 mt-4 text-center">
                  <button type="button" class="btn btn-size fw-bold btn-outline-primary"><i class="fa fa-calendar"
                      aria-hidden="true"></i>&nbsp; Make an Appoinment</button> <br>
                  <a href="https://wa.me/918939799975" target="_blank"> <button type="button"
                      class="btn mt-3 btn-size fw-bold btn-outline-success"><i class="fa fw-bold fa-whatsapp"
                        aria-hidden="true"></i>&nbsp; Chat with Store Owner</button></a>
                        <button type="button" class="mt-3 btn btn-size fw-bold btn-outline-danger"><i class="fa fa-telegram"
                          aria-hidden="true"></i>&nbsp; Share Store Details</button>
                </div>
              </div>
            </div>
            <!------------------------------------------->

            <!---------------------------map-------------->
            <div class="bg-white rounded-3 py-3 mt-3">
              <h4 class="fw-semibold pt-2 text-secondary ps-4"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                &nbsp;Direction</h4>
              <hr>
              <div class="row store-route">
                <div class="col-md-12">
                  <iframe class="px-2 map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62172.22456566656!2d80.04758588685785!3d13.114129426731978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5289d19bef6d25%3A0xe575e8ba16808e64!2sAvadi%2C%20Tamil%20Nadu%2C%20India!5e0!3m2!1sen!2sae!4v1681851034173!5m2!1sen!2sae"
                    height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <!-------------------------------------->

            <!---------------------------report id-------------->
            <div class="bg-white rounded-3 py-3 mt-3">
              <h4 class="fw-semibold pt-2 text-secondary ps-4"><i class="fa fa-exclamation-triangle"
                  aria-hidden="true"></i>
                &nbsp;Report</h4>
              <hr>
              <div class="row store-route">
                <div class="col-md-12  text-center">
                  <p class="fw-semibold text-secondary  store-desc-details px-3">Incase this store are fake or any illegal activities you find please report the store.</p>

                  <!-- <p class="fw-semibold text-secondary">Do you want report this store ?</p>--><button type="button"
                    class="btn mt-2 fw-bold btn-outline-danger"><i class="fa fa-exclamation-circle"
                      aria-hidden="true"></i>
                    Report</button>
                </div>
              </div>
            </div>
            <!-------------------------------------->

          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="client-page-review">

        </div>
      </div>
    </div>
  </div>

  <!-----------------------------------------------------------------------clients --------------------------------------------------->

  <div class="bg-light">
    <div class="container space">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="fs-1 fw-bold" style="color: #276B6A ">
              We Served Over 5000+ <br />
              Customers
            </h1>
            <p class="clients-top fw-semibold text-secondary fst-italic">
              “Take care of your car in the garage, and the car will take care of you on the road.”
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-0">
        <div class="col-md-12">
          <section id="testimonials">
            <div class="testimonials-heading">
              <h1>Customer Says</h1>
            </div>

            <div class="testimonials-box-container ">
              <div class="testimonial-box rounded-3">
                <div class="box-top">
                  <div class="profile">
                    <div class="profile-img">
                      <img src="./assets/user/user-1.jpeg" alt="img-1" />
                    </div>
                    <div class="name-user">
                      <strong>Ijaz Khan</strong>
                      <span>@infoonclickijaz</span>
                    </div>
                  </div>
                  <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>

                <div class="client-comment">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                    ad dolor inventore ab, exercitationem minima odit. Quis fugiat
                    deserunt praesentium suscipit obcaecati laboriosam, illum
                    reiciendis. A debitis aspernatur nulla error!
                  </p>
                </div>
              </div>

              <div class="testimonial-box rounded-3">
                <div class="box-top">
                  <div class="profile">
                    <div class="profile-img">
                      <img src="./assets/user/user-2.jpeg" alt="img-2" />
                    </div>
                    <div class="name-user">
                      <strong>Mohammed Irsath</strong>
                      <span>@infoonclickirsath</span>
                    </div>
                  </div>
                  <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>

                <div class="client-comment">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                    ad dolor inventore ab, exercitationem minima odit. Quis fugiat
                    deserunt praesentium suscipit obcaecati laboriosam, illum
                    reiciendis. A debitis aspernatur nulla error!
                  </p>
                </div>
              </div>

              <div class="testimonial-box rounded-3">
                <div class="box-top">
                  <div class="profile">
                    <div class="profile-img">
                      <img src="./assets/user/user-3.jpeg" alt="img-3" />
                    </div>
                    <div class="name-user">
                      <strong>Wasim</strong>
                      <span>@happenswasim</span>
                    </div>
                  </div>
                  <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>

                <div class="client-comment">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                    ad dolor inventore ab, exercitationem minima odit. Quis fugiat
                    deserunt praesentium suscipit obcaecati laboriosam, illum
                    reiciendis. A debitis aspernatur nulla error!
                  </p>
                </div>
              </div>

              <div class="testimonial-box rounded-3">
                <div class="box-top">
                  <div class="profile">
                    <div class="profile-img">
                      <img src="./assets/user/user-4.jpeg" alt="img-4" />
                    </div>
                    <div class="name-user">
                      <strong>Akram</strong>
                      <span>@Mr.jiffyakram</span>
                    </div>
                  </div>
                  <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>

                <div class="client-comment">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                    ad dolor inventore ab, exercitationem minima odit. Quis fugiat
                    deserunt praesentium suscipit obcaecati laboriosam, illum
                    reiciendis. A debitis aspernatur nulla error!
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------end------------------------------------------------------>
</div>
