
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/banner/banner-3.jpg" class="d-block w-100" alt="..." height="650">
    </div>

</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb ps-5 py-3 bg-light">
    <li class="breadcrumb-item"><a class="text-decoration-none fw-semibold" routerLink="/home">Home</a></li>
    <li class="breadcrumb-item active fw-semibold" aria-current="page">Automotive Service</li>
  </ol>
</nav>

<div class="container py-5">
  <div class="row g-3">
    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Automotive/car-service.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase" routerLink="/pages/store-list">Car Service</button>
        </div>

      </div>
    </div>


    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Automotive/bike-service.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase" routerLink="/pages/store-list">Bike Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Automotive/van-service.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">van Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Automotive/truck-service.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">truck Service</button>
        </div>

      </div>
    </div>


    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Automotive/bus-service.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase">bus Service</button>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card border border-0 rounded-0 mb-4">
        <img src="./assets/Automotive/towing-service.png" class="card-img border border-5" alt="..." height="300">
        <div class="card-img-overlay text-center flex-column justify-content-center">
          <button class="card-title btn btn-bg rounded-pill fw-semibold px-5 text-white text-uppercase" routerLink="/pages/store-list">towing Service</button>
        </div>

      </div>
    </div>

  </div>
</div>



















































<!-- <div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4 mt-2">
      <div class="service-area" role="category">
        <div class="category-image">
         <a href=""> <img src="./assets/banner/residential.png" alt="residential" class="cat-img border border-4"></a>
        </div>
        <div class="category-title">
          <p class="text-white fw-bold text-uppercase p-2 bg-green rounded-pill text-center">bike Service</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-2">
      <div class="service-area" role="category">
        <div class="category-image">
         <a href=""><img src="./assets/banner/commercial.png" alt="commercial" class="cat-img border border-4"></a>
        </div>
        <div class="category-title ">
          <p class="text-white fw-bold text-uppercase p-2 bg-green rounded-pill text-center">car Service</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-2">
      <div class="service-area" role="category">
        <div class="category-image">
         <a href=""><img src="./assets/banner/automative.png" alt="automative" class="cat-img border border-4"></a>
        </div>
        <div class="category-title">
          <p class="text-white fw-bold text-uppercase p-2 bg-green rounded-pill text-center">van Service</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="service-area" role="category">
        <div class="category-image">
         <a href=""><img src="./assets/banner/automative.png" alt="automative" class="cat-img border border-4"></a>
        </div>
        <div class="category-title">
          <p class="text-white fw-bold text-uppercase p-2 bg-green-1 rounded-pill text-center">truck Service</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="service-area" role="category">
        <div class="category-image">
         <a href=""><img src="./assets/banner/automative.png" alt="automative" class="cat-img border border-4"></a>
        </div>
        <div class="category-title">
          <p class="text-white fw-bold text-uppercase p-2 bg-green-1 rounded-pill text-center">bus Service</p>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
