.bg-white
{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btn-size{
  width: 200px;
  height: 40px;
}
.reviews{
  color: #f9d71c;
}
.img-size{
  width: 100%;
  height: 180px;
}
.store-img-size
{
  width: 100%;
height: 120px;
}
.fa-heart-o{
  cursor: pointer !important;
}
.highlighted{
  color: red;
}
